body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* style dla podstawowych formularzy
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* style dla metod pomocniczych odpowiedzialnych za kontrolę poprawności
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

table {
    margin: 10px 0;
}

th {
    text-align: left;
}

.nameCol {
    width: 100px;
}

.locationCol {
    width: 100px;
}

.selectCol {
    width: 30px;
}

.display {
    float: left;
    border: thin solid black;
    margin: 10px;
    padding: 10px;
}

.display label {
    display: inline-block;
    width: 100px;
}

/* Style dodane */
.reservation-container {
    display: flex;
}

.vote-btn {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border: none;
}

.up-btn {
    background: limegreen;
}

    .up-btn:hover {
        background: greenyellow;
    }

.down-btn {
    background: crimson;
}

    .down-btn:hover {
        background: red;
    }

.comment-table {
    table-layout: fixed;
    width: 100%;
}

    .comment-table > tbody tr:nth-child(even) {
        background-color: whitesmoke;
    }
    .comment-table > tbody tr:nth-child(odd) {
        background-color: lightgray;
    }