@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Błąd</title>
</head>
<body>
    <h2>
        Przepraszamy, wystąpił błąd podczas przetwarzania żądania.
    </h2>
</body>
</html>